@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./styles/header.css";
@import './styles/footer.css';
@import './styles/home.css';
@import './styles/cenovnik.css';
@import './styles/kontakt.css';

body {
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

html {
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  font-size: 18px;
}

a {
  color:#9d9d9d
}

a:hover {
  color:#fff
}

@media only screen and (max-width: 400px) {
  p {
    font-size: 14px;
  }
}